/* General */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

    /* Variables */
    --main-blue: #0090C3;
    --secondary-blue: #0078A0;
    --white: #FFFFFF;
    --yellow: #FFBE00;
    
    --title-font: "Bebas Neue", sans-serif;
    --p-font: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F0F4F8;
}

/* Cabecera */
header {
    
    .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    background-color: var(--main-blue);
    color: var(--white);
}
    .logo img {
        width: 15rem;
        transition: transform 0.3s ease;
    }

    .logo img:hover {
        transform: scale(1.1);
    }

    .nav {
        flex-grow: 1;
        text-align: right;

        .nav-list {
            list-style: none;
            display: flex;
            justify-content: flex-end;

            li {
                margin: 0 1rem;

                a {
                    font-family: var(--title-font);
                    color: var(--white);
                    font-size: 1.3rem;
                    padding: 0.25rem 0.75rem;
                    transition: color 0.3s;
                }

                a:hover {
                    color: var(--yellow);
                    text-decoration: underline;
                }
                
            }
        }
    }

    .menu-toggle-checkbox {
        display: none;
    }
    
    .menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 1.25rem;
        width: 1.33rem;
        cursor: pointer;
    
        span {
            background-color: var(--white);
            height: 0.25rem;
            width: 100%;
            border-radius: 0.4rem;
        }
    }    
}

.header-2 {
    display: flex;
    position: relative;
    padding: 1rem 0;
    background-color: var(--secondary-blue);
    background-image: url("../img/exdj.png");
    z-index: 1;
    justify-content: flex-end; 
}

.icon-wrapper {
    display: flex;
    position: absolute;
    align-items: center;
    padding: 0.8rem 1.5rem;
    top: -1rem; 
    right: 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-blue);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
}

.icons {
    display: flex;
    gap: 1.5rem;

    a {
        img {
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

/* Cuerpo principal */
main {
    min-height: 90vh;
}

/* Inicio */
.slider-inicio {
    position: relative;
    width: 100%;
    height: 18.75rem; 
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .controles-slider-inicio {
        position: absolute;
        bottom: 0.625rem; 
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 0.625rem; 

        span {
            width: 0.625rem; 
            height: 0.625rem; 
            background-color: #ccc;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .controles-slider-inicio .active {
        background-color: var(--secondary-blue);
    }
}

.triple-opt {
    display: flex;
    justify-content: space-around;
    padding: 1.25rem; 
    background-color: #F8F8F8;
    text-decoration: none;
    text-align: center;

    .triple-art {
        width: 30%;
        padding: 0.625rem; 
        background-color: var(--white);
        border-radius: 0.625rem; 
        box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s;

        img {
            width: 100%;
            border-radius: 0.625rem; 
        }

        h1 {
            font-family: var(--title-font);
            font-size: 1.5rem;
            margin: 0.625rem 0;
            
            a {
                color: var(--main-blue);
            } 
        }

        p {
            font-family: var(--p-font);
            font-size: 1rem;
            color: #555;
        }
    }

    .triple-art:hover {
        transform: translateY(-0.3125rem); 
    }
}

.newsletter {
    text-align: center;
    padding: 3.125rem; 
    background: url('../img/newsletter_bg.jpg') no-repeat center center/cover;
    color: var(--white);
    border-radius: 0.625rem; 
    margin: 1.25rem; 
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2); 

    h2 {
        font-family: var(--title-font);
        font-size: 2rem;
        margin-bottom: 1.25rem; 
        text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5); 
    }

    p {
        font-family: var(--p-font);
        margin-bottom: 1.25rem; 
        text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    }

    input {
        font-family: var(--p-font);
        font-size: 1rem;
        border: none;
        border-radius: 0.3125rem; 
        padding: 0.625rem; 
        margin-right: 0.625rem; 
        width: 18.75rem; 
        max-width: 80%;
    }

    button {
        font-family: var(--title-font);
        font-size: 1.25rem;
        background-color: var(--white);
        color: var(--secondary-blue);
        border: none;
        border-radius: 0.3125rem;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #ccc;
    }

    input, button {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2); 
    } 
}

/* Noticias */
.noticias {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

    .titulo-noticias {
        font-family: var(--title-font);
        font-size: 3rem;
        color: var(--main-blue);
        text-align: center;
        margin-bottom: 2rem;
    }

    .contenedor-noticias {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        .noticia {
            background-color: #f9f9f9;
            border-radius: 0.5rem;
            overflow: hidden;
            box-shadow: 0 0.25rem 0.37rem rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            .imagen-noticia {
                width: 100%;
                height: 30rem;
                object-fit: cover;
                object-position: center;
            }

            .contenido-noticia {
                padding: 1rem;

                h2 {
                    font-family: var(--title-font);
                    font-size: 1.75rem;
                    font-weight: lighter;
                    color: #333;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-family: var(--p-font);
                    font-size: 1rem;
                    color: #555;
                    margin-bottom: 1rem;
                }

                .btn-leer-mas {
                    font-family: var(--p-font);
                    font-size: 1rem;
                    background-color: var(--secondary-blue);
                    color: var(--white);
                    border: none;
                    padding: 0.75rem 1.5rem;
                    border-radius: 0.3rem;
                    cursor: pointer;
                    transition: background-color 0.3s;
                }

                .btn-leer-mas:hover {
                    background-color: #005f7a;
                }

                .botones-compartir {
                    display: flex;
                    gap: 1rem;
                    margin-top: 1rem;
                }

                .btn-compartir {
                    display: inline-block;
                }

                .icono-compartir {
                    width: 1.5rem;
                    height: 1.5rem;
                    transition: transform 0.2s;
                }
        
                .btn-compartir:hover .icono-compartir {
                    transform: scale(1.1);
                }
            }
        }

        .noticia:hover {
            transform: scale(1.03);
            box-shadow: 0 0.37rem 0.75rem rgba(0, 0, 0, 0.2);
        }
    }
}

/* Plantilla */

.titulo-plantilla {
    font-family: var(--title-font);
    font-size: 4rem;
    text-align: center;
    color: var(--main-blue);
}

.contenedor-plantilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    max-width: 125vh;
    margin: 0 auto; 
    padding: 0.75rem;
}

.carta {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    perspective: 62.5rem;
     
    .carta-completa {
        position: absolute;
        width: 90%;
        height: 90%;
        transform-style: preserve-3d;
        transition: transform 1.2s;
    }

    .carta-frontal, .carta-trasera {
        position: absolute;
        width: 100%; 
        height: 100%;
        border-radius: 1rem;
        backface-visibility: hidden; 
    }

    .carta-frontal img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
    }
    
    .carta-trasera {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.5rem;
        color: var(--white);
        background-color: var(--main-blue);
        transform: rotateY(180deg); 

        h1 {
            font-family: var(--title-font);
            margin: 0;
            font-size: 2rem;
        }

        h2 {
            font-family: var(--p-font);
            margin: 0.33rem 0;
            font-size: 1rem;
        }
    }

    &:hover .carta-completa {
        transform: rotateY(180deg);
    }
}


/* Xerez CD TV */
.xcdtv-video {
    text-align: center;
    width: 90%; 
    margin: 0 auto;
    padding: 1.5rem;
    background: var(--white);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    max-width: 75rem;

    h1 {
        font-family: var(--title-font);
        font-size: 3.5rem;
        text-align: center;
        color: var(--main-blue);
    }

    h2 {
        font-family: var(--title-font);
        font-size: 1.5rem;
        text-align: center;
        color: var(--main-blue);

        img {
            width: 2rem;
        }
    }

    .tv-video video {
        width: 100%;
        border-radius: 0.75rem;
    }

    .xcdtv-chat {
        margin-top: 1.25rem;
        text-align: left;

        h2 {
            font-family: var(--title-font);
            text-align: left;
            font-size: 1.75rem;
            color: var(--main-blue);
        }
    }

    .chat-box {
        max-height: 12.5rem;
        overflow-y: auto;
        padding: 0.75rem;
        background-color: #f9f9f9;
        border: 0.1rem solid #ddd;
        border-radius: 0.5rem;

        p {
            font-family: var(--p-font);
            font-size: 1.1rem;
            color: black;
            margin: 0.5rem 0;

            span {
                font-family: var(--title-font);
                font-size: 1.5rem;
                color: var(--main-blue);
            }
        }
    }

    .contenedor-mensajes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        max-width: 37.5rem;
        margin: 1rem auto;
    }

    .chat-enviar {
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        font-family: var(--p-font);
        color: var(--white);
        background-color: var(--main-blue);
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    .chat-enviar:hover {
        background-color: var(--secondary-blue);
        transform: scale(1.05);
    }

    .chat-input {
        flex: 1;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-family: var(--p-font);
        color: #333;
        border: 0.15rem solid #ddd;
        border-radius: 0.5rem;
        background-color: #f9f9f9;
        outline: none;
        margin-top: 0.5rem;
        transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    }

    .chat-input:focus {
        border-color: var(--main-blue);
        box-shadow: 0 0 0.5rem rgba(0, 144, 195, 0.2);
        background-color: var(--white);
    }
}

/* Tienda */
.slider-tienda-1 {
    position: relative; 
    width: 100%;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 85%;
        left: 50%;
        font-family: var(--title-font);
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--white);
        transform: translate(-50%, -50%);
    }

    button {
        position: absolute;
        padding: 0.75rem 1.25rem;
        top: 92%;
        left: 50%;
        font-family: var(--title-font);
        font-size: 1.35rem;
        font-weight: 500;
        color: var(--main-blue);
        background-color: var(--white); 
        border: none;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
        transform: translate(-50%, -50%); 
    }

    button:hover {
        color: var(--yellow); 
        text-decoration: underline; 
    }
}

.contenedor-productos {
    padding: 1.5rem;
    margin: 0 auto;

    .titulo-seccion {
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 3rem;
        color: var(--main-blue);
        text-align: center;
        margin: 1.5rem 0;
    }

    .grid-productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 1rem; 

        .carta-producto {
            position: relative;
            background: var(--white);
            border-radius: 0.75rem;
            overflow: hidden;
            box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1), 0 0.1rem 0.25rem rgba(0, 0, 0, 0.06);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }

            .imagen-productos {
                position: relative;
                width: 100%;
                aspect-ratio: 1 / 1;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: opacity 0.3s ease-in-out;
                }

                img:first-child {
                    z-index: 2; 
                }

                img.hidden {
                    z-index: 1; 
                    opacity: 0;
                }

                &:hover img.hidden {
                    opacity: 1;
                }

                &:hover img:first-child {
                    opacity: 0; 
                }
            }

            .info-producto {
                text-align: center;
                padding: 0.5rem;

                h3 {
                    font-family: var(--title-font);
                    font-size: 1rem; 
                    font-weight: 500;
                    color: #333;
                    margin: 0.5rem 0;
                }

                p {
                    font-family: var(--p-font);
                    padding-bottom: 0.2rem;
                    font-size: 0.9rem; 
                    color: #666;
                }

                button {
                    background: var(--main-blue);
                    color: var(--white);
                    padding: 0.5rem 0.75rem;
                    border: none;
                    border-radius: 0.375rem;
                    cursor: pointer;
                    transition: background 0.3s, color 0.3s;

                    &:hover {
                        background: var(--secondary-blue);
                    }
                }
            }
        }
    }
}

/* Crear cuenta */

.login-container {
    display: flex;
    font-family: var(--p-font);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    padding: 0 1rem; 
    background-image: url(../img/background-cuenta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .login-form {
        width: 100%;
        max-width: 25rem;
        padding: 2rem;
        background-color: var(--white);
        border-radius: 0.5rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-family: var(--title-font);
            font-size: 2rem;
            color: var(--main-blue);
            text-align: center;
            margin-bottom: 1.5rem;
        }

        label {
            display: block;
            font-weight: bold;
            color: var(--secondary-blue);
            margin-bottom: 0.5rem;
        }
        
        input {
            width: 100%;
            padding: 0.8rem;
            margin-bottom: 1rem;
            border: 0.1rem solid #ccc;
            border-radius: 0.25rem;
            font-size: 1rem;
        }
        
        input[type="email"],
        input[type="password"] {
            background-color: #f9f9f9;
        }
        
        button {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 0.25rem;
            font-size: 1.1rem;
            cursor: pointer;
        }

        .login-btn {
            background-color: var(--main-blue);
            color: var(--white);
            transition: background-color 0.3s;
        }
        
        .login-btn:hover {
            background-color: var(--secondary-blue);
        }
        
        .social-login {
            display: flex;
            flex-direction: column;
            margin: 1.5rem 0;
        }
        
        .social-btn {
            width: 100%;
            padding: 1rem;
            border-radius: 0.25rem;
            font-size: 1rem;
            cursor: pointer;
            margin-bottom: 1rem;
            border: 0.1rem solid #ccc;
            transition: all 0.3s;

            i {
                padding-right: 0.7rem;
            }
        }
        
        .social-btn.facebook {
            background-color: #3b5998;
            color: var(--white);
        }
        
        .social-btn.google {
            background-color: #db4437;
            color: var(--white);
        }
        
        .social-btn:hover {
            opacity: 0.9;
        }

        .forgot-register p {
            text-align: center;
            margin: 0.5rem 0;
        }
        
        .forgot-register a {
            text-decoration: none;
            color: var(--main-blue);
            font-weight: 600;
            transition: color 0.3s;
        }
        
        .forgot-register a:hover {
            color: var(--yellow);
        }
    }
}

/* Carrito */
.main-carrito {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: var(--p-font);
    
    h1 {
        font-family: var(--title-font);
        font-size: 2.5rem;
        color: var(--main-blue);
        margin-bottom: 2rem;
    }

    .box-carrito {
        background-color: #f9f9f9;
        padding: 2rem; 
        border-radius: 1rem; 
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
        border: 0.1rem solid #e0e0e0; 
        margin: 0 auto; 
    }

    .carrito-con-productos {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .productos-carrito {
            flex: 3;
            text-align: left;

            .producto-carrito {
                display: flex;
                align-items: center;
                gap: 1rem;
                border-bottom: 0.1rem solid #ddd;
                padding: 1rem 0;

                img {
                    max-width: 10rem;
                    border-radius: 0.75rem;
                }

                .info-producto {
                    text-align: left;
                    flex-grow: 1;

                    h3 {
                        font-size: 1.2rem;
                        font-family: var(--title-font);
                        margin-bottom: 0.5rem;
                    }
                }

                .info-producto .precio {
                    color: var(--main-blue);
                    font-size: 1rem;
                }

                .cantidad input {
                    width: 3.2rem;
                    margin-left: 0.5rem;
                }

                .eliminar {
                    background: #FF4040;
                    color: var(--white);
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    transition: background 0.3s;
                }

                .eliminar:hover {
                    background: #CC3333;
                }
            }
        }
        .total-y-finalizar {
            flex: 1;
            text-align: right;
            border-left: 0.1rem solid #ddd;
            padding-left: 2rem;

            .total-carrito {
                p {
                    font-size: 1.2rem;
                    margin: 0.5rem 0;
                    font-family: var(--p-font);
                }

            }

            .total-precio, .subtotal-precio, .envio-precio {
                color: var(--main-blue);
                font-weight: bold;
            }

            .total-carrito .comprar-carrito {
                background: var(--main-blue);
                color: var(--white);
                border: none;
                padding: 0.75rem 1.5rem;
                border-radius: 0.3rem;
                font-family: var(--title-font);
                font-size: 1rem;
                cursor: pointer;
                margin-top: 1rem;
            }
            
            .total-carrito .comprar-carrito:hover {
                background: var(--secondary-blue);
            }
    } 
}
}

/* Pie de página */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: var(--main-blue);
    font-family: var(--p-font);
    color: var(--white);

    .footer-left {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        .logo {
            width: 6.25rem;
            transition: transform 0.4s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            overflow: hidden;

            .contact-item {
                display: flex;
                align-items: center;
                gap: 0.75rem;
                flex-wrap: wrap;

                .contact-icon {
                    width: 1.25rem;
                }
            }
        }
    }

    .footer-right {
        display: flex;
        gap: 2rem;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 0.3rem;

                a {
                    color: var(--white);
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    font-weight: bold;
                }
            }
        }
    }
}

/* Nuestra historia  */
.nuestra-historia-1 {
    max-width: 50rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    text-align: justify;

    h1 {
        font-family: var(--title-font);
        font-size: 3rem;
        text-align: center;
        color: var(--main-blue);
        margin-bottom: 1.25rem;
        border-bottom: 0.125rem solid var(--main-blue);
        display: inline-block;
        padding-bottom: 0.75rem;
    }

    h2 {
        font-family: var(--title-font);
        font-size: 2rem;
        color: var(--secondary-blue);
        margin-top: 2rem;
        text-align: center;
    }

    p {
        font-family: var(--p-font);
        font-size: 1rem;
        color: #333;
        margin-bottom: 1.25rem;
        line-height: 1.8;
    }
    
}

/* Campaña de abonados */
.tabla-precios {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .tabla-abonados {
        width: 100%;
        border-collapse: collapse;
        font-family: var(--p-font);
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-radius: 0.5rem;

        caption {
            font-family: var(--title-font);
            font-size: 1.5rem;
            color: var(--main-blue);
            text-align: left;
            margin-bottom: 1rem;
        }

        th {
            background-color: var(--main-blue);
            color: var(--white);
            font-family: var(--title-font);
            text-transform: uppercase;
            padding: 1rem;
            text-align: center;
        }

        td {
            padding: 1rem;
            text-align: center;
            color: #333;
            background-color: #f9f9f9;
        }

        tbody tr:nth-child(odd) td {
            background-color: #f2f2f2;
        }
    }

    .tabla-abonados tbody tr:hover td {
        background-color: var(--secondary-blue);
        color: var(--white);
        transition: background-color 0.3s;
    }
}

/* Comprar abono */
main.seleccion-sector {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;

    .mapa-estadio {
        flex: 2;
        min-width: 19rem;
        max-width: 38rem;

        h2 {
            font-family: var(--title-font);
            font-size: 2rem;
            color: #333;
        }

        p {
            font-family: var(--p-font);
            font-size: 1rem;
            margin-bottom: 1rem;
            color: #555;
        }

        .mapa-container {
            border: 0.1rem solid #ddd;
            border-radius: 0.5rem;
            padding: 1rem;
            background-color: var(--white);

            .mapa-estadio-img {
                width: 100%;
                height: auto;
                border-radius: 0.5rem;
            }
        }
    }

    .tabla-sectores {
        flex: 1;
        min-width: 15rem;
        max-width: 25rem;

        p {
            font-family: var(--p-font);
            font-size: 1rem;
            margin-bottom: 1rem;
            color: #555;
        }

        .busqueda {
            margin-bottom: 1rem;

            input {
                width: 100%;
                padding: 0.75rem;
                font-size: 1rem;
                border: 0.1rem solid #ddd;
                border-radius: 0.5rem;
                outline: none;
                box-shadow: inset 0 0.15rem  rgba(0, 0, 0, 0.1);
            }
        }
        .tabla-scrollable {
            max-height: 18.75rem; 
            overflow-y: auto; 
            border: 0.1rem solid #ddd;
            border-radius: 0.5rem;
        }

            .sectores-tabla {
                width: 100%;
                border-collapse: collapse;
                box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
                border-radius: 0.5rem;
                overflow: hidden;

                th, td {
                    font-family: var(--p-font);
                    padding: 0.75rem 1rem;
                    text-align: left;
                    border-bottom: 0.1rem solid #ddd;
                }

                th {
                    font-family: var(--title-font);
                    font-size: 1.25rem;
                    background-color: var(--main-blue);
                    color: var(--white);
                    text-transform: uppercase;
                }

                tbody tr:hover {
                    background-color: #f0f8ff;
                    cursor: pointer;
                }

                .color-indicador {
                    display: inline-block;
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
                
                .simpatizante {
                    background-color: var(--yellow);
                }
                
                .fondo-sur {
                    background-color: var(--main-blue);
                }
                
                .tribuna {
                    background-color: var(--secondary-blue);
                }
            }
        }
}

/* Municipal de Chapín */
.info-basica {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    max-width: 75rem;
    padding: 1rem;
    gap: 1rem;

    .info-texto {
        font-family: var(--title-font);
        color: var(--main-blue);
        flex: 1;

        p {
            font-family: var(--p-font);
            color: black;
            margin-top: 1rem;
        }
    }

    .info-imagen {
        flex: 1;
        text-align: center;

        .imagen-estadio {
            width: 100%;
            max-width: 40rem;
            border-radius: 1rem;
        }
    }
}

.datos-estadio {
    background-color: var(--white);
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    max-width: 50rem;
    text-align: center;
    
    h1 {
        font-family: var(--title-font);
        color: var(--main-blue);
    }

    
    .lista-datos {
        list-style: none;
        padding: 0;

        li {
            font-family: var(--p-font);
            margin: 0.5rem 0;
        }
    }
}

.galeria-estadio {
    font-family: var(--title-font);
    color: var(--main-blue);
    margin: 2rem auto;
    max-width: 75rem;
    padding: 1rem;

    .galeria-imagenes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 1rem;

        .imagen-galeria {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: 1rem;
            transition: transform 0.3s ease;
        }

        .imagen-galeria:hover {
            transform: scale(1.05);
        }
    }
}

/* Media Querys */

@media (max-width: 768px) {
    .header-1 {
        flex-direction: column !important;
        text-align: center !important;

        .logo img {
            width: 12rem !important;
        }

        .menu-toggle {
            display: flex !important;
        }

        .menu-toggle-checkbox:checked + .menu-toggle + .nav {
            display: block !important;
        }

        .nav {
            width: 100% !important;
            display: none !important;
            margin-top: 1rem !important;

            .nav-list {
                display: block !important;

                li {
                    margin: 0.75rem 0 !important;
                }

                a {
                    font-size: 1.1rem !important;
                }
            }
        }
    }

    .slider-inicio {
        height: 12rem !important;

        .controles-slider-inicio {
            bottom: 0.5rem !important;
        }
    }

    .triple-opt {
        padding: 1rem !important;
        display: block !important;

        .triple-art {
            width: 100% !important;
            margin: 1rem 0 !important;
            padding: 0.5rem !important;
            box-sizing: border-box;

            h1 {
                font-size: 1.2rem !important;
            }

            p {
                font-size: 0.9rem !important;
            }
        }
    }

    .newsletter {
        padding: 1.5rem !important;

        h2 {
            font-size: 1.5rem !important;
        }

        p {
            font-size: 0.9rem !important;
        }

        input {
            width: 100% !important;
            margin-bottom: 1rem !important;
        }

        button {
            width: 100% !important;
            padding: 1rem !important;
        }
    }

    .contenedor-noticias {
        grid-template-columns: repeat(1, 1fr) !important;

        .imagen-noticia {
            width: 100% !important;
            object-fit: cover !important;
            object-position: center !important;
            border-radius: 0.75rem !important;
        }

        .contenido-noticia {
            h2 {
                font-size: 1.5rem !important;
            }
    
            p {
                font-size: 0.9rem !important;
            }

            .botones-compartir {
                flex-wrap: wrap !important;
                justify-content: center !important;
            }
    
            .btn-leer-mas {
                font-size: 0.9rem !important;
                padding: 0.5rem 1rem !important;
            }
        }

        
    }

    .titulo-noticias {
        font-size: 2.5rem !important;
    } 

    .titulo-plantilla {
        font-size: 3rem !important;
    }

    .contenedor-plantilla {
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 1rem !important;

        .carta {
            padding-bottom: 110% !important;
            .carta-completa {
                width: 90% !important;
                height: 90% !important;
            }

            .carta-frontal,
            .carta-trasera {
                border-radius: 1rem !important;
            }

            .carta-frontal img {
                width: 100% !important;
                height: auto !important;
                object-fit: contain !important;
                object-position: center !important;
            }

            .carta-trasera {
                padding: 1rem !important;
            }

            .carta-trasera h1 {
                font-size: 1.6rem !important;
            }

            .carta-trasera h2 {
                font-size: 0.9rem !important;
            }
        }
    }

    .slider-tienda-1 {
        img {
            height: auto !important;
        }

        button {
            top: 85% !important;
            padding: 0.75rem 1rem !important;
            font-size: 1.2rem !important;
        }
    }

    .login-form {
        h1 {
            font-size: 1.8rem;
        }

        input,
        button {
            padding: 0.9rem;
            font-size: 1rem;
    }

        .social-btn {
            padding: 0.9rem;
            font-size: 0.9rem;
    }
    }

    .main-carrito {
        padding: 1.5rem !important;

        .box-carrito {
            padding: 1.5rem !important;
    
            h1 {
                font-size: 2rem !important;
            }

            .carrito-con-productos {
                flex-direction: column !important;
                gap: 1.5rem !important;

                .productos-carrito {
                    margin-bottom: 1rem !important;

                    .producto-carrito {
                        flex-direction: column !important;
                        align-items: flex-start !important;

                        .cantidad {
                            display: flex !important;
                            gap: 0.5rem !important;
                            margin-bottom: 1rem !important;
                        }

                        .eliminar {
                            margin-top: 1rem !important;
                        }
                    }
                }

                .total-y-finalizar {
                    text-align: left !important;
                    border-left: none !important;
                    padding-left: 0 !important;
                    margin-top: 1.5rem !important;

                    .total-carrito p {
                        font-size: 1rem !important;
                    }

                    .total-carrito .comprar-carrito {
                        width: 100% !important;
                    }
                }
            }
        }
    }

    .footer {
        flex-direction: column !important;
        align-items: center !important;
        padding: 1.25rem !important;
        width: 100% !important;

        .footer-left {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            margin-bottom: 1.25rem !important;
            gap: 1.25rem !important;
            width: 100% !important;
        }

        .footer-right {
            display: flex !important;
            justify-content: center !important;
            gap: 1.25rem !important;
            flex-wrap: wrap !important;
            width: 100% !important;
        }
    }
}

@media (max-width: 605px) {
    .slider-inicio {
        height: 10rem !important;
        .controles-slider-inicio {
            bottom: 0.5rem !important;
        }
    }

    .triple-opt {
        padding: 1rem !important;
        display: block !important;

        .triple-art {
            width: 100% !important;
            margin: 1rem 0 !important;
            padding: 0.5rem !important;
            box-sizing: border-box;

            h1 {
                font-size: 1rem !important;
            }

            p {
                font-size: 0.75rem !important;
            }
        }
    }

    .newsletter {
        padding: 1.5rem !important;

        h2 {
            font-size: 1.5rem !important;
        }

        p {
            font-size: 0.9rem !important;
        }

        input {
            width: 100% !important;
            margin-bottom: 1rem !important;
        }

        button {
            width: 100% !important;
            padding: 1rem !important;
        }
    }

    .contenedor-noticias {
        grid-template-columns: 1fr !important;
        gap: 1.5rem !important;

        .imagen-noticia {
            width: 100% !important;
            object-fit: cover !important;
            border-radius: 0.75rem !important;
        }

        .contenido-noticia {
            h2 {
                font-size: 1.25rem !important;
            }
    
            p {
                font-size: 0.85rem !important;
            }

            .botones-compartir {
                align-items: center !important;
            }
        
            .btn-leer-mas {
                font-size: 0.85rem !important;
                padding: 0.5rem 1rem !important;
            }
        }
    }
    
    .titulo-noticias {
        font-size: 2rem !important;
    }

    .titulo-plantilla {
        font-size: 2.5rem !important;
    }

    .contenedor-plantilla {
        grid-template-columns: repeat(2, 1fr) !important;
        padding: 0.5rem !important;

        .carta {
            padding-bottom: 130% !important;

            .carta-completa {
                width: 90% !important;
                height: 90% !important;

                .carta-frontal,
                .carta-trasera {
                    border-radius: 0.75rem !important;
                }

                .carta-frontal img {
                    width: 100% !important;
                    object-fit: contain !important;
                    border-radius: 0.75rem !important; 
                }

                .carta-trasera {
                    padding: 0.75rem !important;

                    h1 {
                        font-size: 1.6rem !important;
                    }

                    h2 {
                        font-size: 0.8rem !important;
                    }
                }
            }
        }
    }

    .slider-tienda-1 {
        img {
            height: auto !important;
        }

        button {
            top: 80% !important;
            padding: 0.75rem 1rem !important;
            font-size: 1rem !important;
        }
    }

    .login-form  {
        h1 {
            font-size: 1.6rem;
        }

        input,
        button {
            padding: 0.8rem;
            font-size: 0.9rem;
    }

        .social-btn {
            padding: 0.8rem;
            font-size: 0.85rem;
        }

        .forgot-register p {
            font-size: 0.9rem;
        }

        .forgot-register a {
            font-size: 0.85rem;
        }
    }

    .main-carrito {
        padding: 1rem !important;

        .box-carrito {
            padding: 1rem !important;

            .carrito-con-productos {
                flex-direction: column !important;
                gap: 1.2rem !important;

                .productos-carrito {
                    margin-bottom: 1rem !important;

                    .producto-carrito {
                        flex-direction: column !important;
                        align-items: flex-start !important;

                        .cantidad {
                            display: flex !important;
                            gap: 0.5rem !important;
                            margin-bottom: 1rem !important;
                        }

                        .eliminar {
                            margin-top: 1rem !important;
                        }
                    }
                }
            }
    
            h1 {
                font-size: 1.8rem !important;
            }

            .total-y-finalizar {
                text-align: left !important;
                border-left: none !important;
                padding-left: 0 !important;
                margin-top: 1.5rem !important;
            }
        }

        .total-carrito p {
            font-size: 0.9rem !important;
        }
    
        .total-carrito .comprar-carrito {
            width: 100% !important;
        }
    }

    .footer-left {
        .contact-info {
            font-size: 1rem !important;
        }

        .footer-menu ul li {
            font-size: 1rem !important;
        }
    }

    .footer {
        align-items: center !important;
        padding: 1rem !important;

        .footer-left {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 100% !important;
        }

        .footer-right {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            gap: 1rem !important;
            width: 100% !important;
        }
    }
}

