/* General */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFFFFF; 
}

/* Cabecera */
header {
    .header-1 {
        display: flex;
        justify-content: space-between;
        padding: 1.3rem;
        background-color: #0090C3;
    
        img {
            width: 30%;
            transition: transform 0.4s ease;
        }
        
        img:hover {
            transform: scale(1.1);
        }
    
        nav {
    
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                gap: 1.5rem;
                height: 100%;
    
                li {
                    a {
                        font-size: 1.3rem;
                        color:white;
                        font-family: "Bebas Neue", sans-serif;
                        transition: color 0.3s ease, transform 0.3s ease;
                    }
    
                    a:hover {
                        color: #FFBE00; 
                        transform: scale(1.1); 
                        text-decoration: underline; 
                    }
                }
            }   
        }
    }
    
    .header-2 {
        position: relative;
        padding: 1rem 0;
        background-color: #0078A0;
        background-image: url("../img/exdj.png");
    
        .icon-wrapper {
            position: absolute;
            top: -15px; 
            right: 1.5rem;
            background-color: #0078A0;
            padding: 0.8rem 1.5rem;
            border-radius: 8px;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        }
    
        .icons {
            display: flex;
            gap: 1.5rem;
    
            a {
                img {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    transition: transform 0.2s ease;
                }
    
                img:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* Cuerpo principal */
main {
    flex: 1;
}

/* PLantilla */
.contenedor-plantilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    max-width: 125vh;
    margin: 0 auto; 
    padding: 0.75rem;

    .carta {
        perspective: 62.5rem;

        .carta-completa {
            width: 100%;
            padding-bottom: 100%;
            transform-style: preserve-3d;
            transition: transform 1s;

            .carta-frontal, .carta-trasera {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                overflow: hidden;
            }

            .carta-frontal img {
                width: 90%;
                object-fit: cover;
                border-radius: 1rem;
 
            }
            
            .carta-trasera {
                background-color: #0090C3;
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 1.5rem;
                transform: rotateY(180deg);
                border-radius: 1rem;

                h1 {
                    font-family: 'Bebas Neue', sans-serif;
                    margin: 0;
                    font-size: 2rem;
                }

                h2 {
                    font-family: 'Raleway', sans-serif;
                    margin: 5px 0;
                    font-size: 1rem;
                }
            }
        }
    }

    .carta:hover .carta-completa {
        transform: rotateY(180deg);
    }
}

/* Xerez CD TV */
.xcdtv-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        color: #0090C3;
        font-size: 2.5rem;
        padding-top: 0.5rem;
    }
    p {
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        color: #0090C3;
        font-size: 1rem;

        img {
            width: 1%;
        }
    }
    .xcdtv-1 {
        border-radius: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
    }    
}

/* Tienda */
.slider-tienda-1 {
    position: relative; /* Necesario para posicionar el botón */
    width: 100%;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-family: "Bebas Neue", sans-serif;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
    }
    button {
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translate(-50%, -50%); /* Ajusta la posición para centrar completamente */
        font-family: "Bebas Neue", sans-serif;
        background-color: White; /* Fondo semitransparente */
        color: #0090C3;
        padding: 10px 20px;
        border: none;
        font-size: 1.35rem;
        font-weight: 500;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    button:hover {
        color: #FFBE00; 
        text-decoration: underline; 
    }
}



/* Pie de página */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem; 
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #0078A0;

    .footer-1 {
        img {
            width: 6rem; 
            transition: transform 0.4s ease;
        }

        img:hover {
            transform: scale(1.1);
        }
    
    }

    .footer-2 {
        flex: 1;
        margin-left: 1.25rem;

        p {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;

            .icons {
                width: 2%;
                margin-right: 0.5rem;
            }
        }
    }

    .footer-3, .footer-4, .footer-5 {
        ul {
            li {
                margin: 0.5rem 0;

                p {
                    font-weight: bold;
                }

                a {
                    color: #FFFFFF;
                    font-size: 1rem;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }   
    }

    .footer-4, .footer-5 {
        margin-left: 2rem;
    }

}

/* Crear cuenta */
.crear-cuenta-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    width: 48rem;
    max-width: 100%;
    min-height: 30rem;
    padding: 2rem;
    font-family: "Raleway", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.02rem;
        margin: 1.25rem;
    }

    span {
        font-size: 0.8rem;
    }

    a {
        color: #333333;
        font-size: 0.6rem;
        margin: 1rem 0 0.5rem;
    }

    button {
        background-color: #0078A0;

        font-family: "Bebas Neue", sans-serif;
        padding: 0.6rem 2.8rem;
        border: 0.06rem solid transparent;
        border-radius: 0.5rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        margin-top: 0.6rem;
        cursor: pointer;

        span {
            color: #FFFFFF;
            font-size: 1.1rem;
            transition: color 0.3s ease, transform 0.3s ease;
        }

        span:hover {
            color: #FFBE00;
            text-decoration: underline;   
        }

    }

    form {
        background-color: #FFFFFF;
        border-radius: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 2.5rem;
        height: 100%;
    }
    
    input {
        background-color: #EEEEEE;
        border: none;
        margin: 0.5rem 0;
        padding: 0.6rem 1rem;
        font-size: 0.81rem;
        border-radius: 0.5rem;
        width: 100%;
        outline: none;
    }
}

.formulario-cuenta {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    
    a {
        font-size: 0.8rem;
    }
}

.iniciar-sesion {
    left: 0;
    width: 50%;
    z-index: 2;
}

.crear-cuenta {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sm-icons {
    margin: 1.25rem 0;

    a {
        border: 1px solid #CCCCCC;
        border-radius: 20%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.2rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.apartado-lateral {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 9.4rem 6.25rem 0;
    z-index: 1000;
}

.lateral {
    height: 100%;
    background: linear-gradient(to left, #0090C3, #0078A0);
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.panel-lateral {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.lateral-der {
    right: 0;
    transform: translateX(0);
    
    h1 {
        font-size: 2rem;
    }
}

.registro-bg {
    background-image: url('../img/background-cuenta.png');
    background-size: cover; 
}

/* Nuestra historia  */
.nuestra-historia-1 {
    text-align: center;
    width: 50%;
    margin: 0 auto;

    h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 3rem;
        color: #0090C3;
    }

    h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 2rem;
        color: #0090C3;
    }

    p {
        font-family: "Raleway", sans-serif;
        font-size: 1remm;
        color: #000000;
        font-weight: 400;
    }
}